/* #bloc_page
{

    width: 900px;

    margin: auto;

}
@media all and (max-width: 1024px)

{

    #bloc_page

    {

        width: auto;

  }

}
@media all and (max-width: 1024px)

{

    nav

    {

        width: auto;

        text-align: left;

    }

     

    nav li

    {

        display: block;

        padding-left: 4px;

    }

     

    nav a

    {

        font-size: 1.1em;

    }

    nav a:hover

    {

        border-bottom: 0;

    }

}
@media all and (max-width: 1024px)

{

    #banniere_image

    {

        display: none;
    }
}
@media all and (max-width: 1024px)

{

    article, aside

    {

        width: auto;

        display: block;

        margin-bottom: 15px;

    }

     

    #fleche_bulle

    {

        display: none;

    }

     

    #photo_zozor img

    {

        width: 110px;

        float: right;

        margin-left: 15px;

    }

     

    aside p:last-child

    {

        text-align: center;

    }

} */
@media all and (max-width: 1024px)

{

    article, aside

    {

        width: auto;

        display: block;

        margin-bottom: 15px;
    }
    #fleche_bulle
    {
        display: none;
    }
    #photo_zozor img

    {
        width: 110px;

        float: right;

        margin-left: 15px;
    }
    aside p:last-child
    {
        text-align: center;
    }

}